* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: monospace;
    font-size: 15px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0; 
  }

  


  