ul {
  list-style-type: none;
}

li {
  display: inline;
}

.jumbo-1 {
  background-image: url("../assets/quiz-hub.png");
  background-size: cover;
}

.jumbo-2 {
  background-image: url("../assets/note-taker.png");
  background-size: cover;
}

.jumbo-3{
  background-image: url("../assets/ecommerce\ pic.png");
  background-size: cover;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
